header {
  width: 100vw;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

header nav {
  display: flex;
  gap: 24px;
}

header nav .link {
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

header nav .link:hover {
  color: #A2D9CE;
}

.user-cart-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-info p {
  color: white;
  font-size: 14px;
  margin: 0;
}

.cart-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 32px; 
  display: flex;
  align-items: center; 
}
.login-button {
  display: inline-block;
  background: #A2D9CE;
  color: #481E14;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 8px;
}

.login-button:hover {
  background: #96C8B2;
}
