footer {
  width: 100vw;
  padding: 16px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333333; /* Cinza Escuro */
  color: #FFFFFF; /* Branco */
}

footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #FFFFFF; /* Branco */
  text-decoration: none;
  font-weight: bold;
  font-size: 24px; /* Tamanho do texto ajustado para melhor visualização */
}

footer .logo:hover {
  color: #00bcd4; /* Ciano para interações hover */
  transition: color 0.3s ease; /* Suaviza a transição de cores */
}
